CREATE DATABASE [SmartHouse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartHouse', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SmartHouse.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SmartHouse_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SmartHouse_log.ldf' , SIZE = 2048KB , FILEGROWTH = 10%)
GO
USE [SmartHouse]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [SmartHouse] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
